{% extends "layout.html" %}
{%block content%}
{% load static %}
<img src="data:image/png;base64,{{ heatmap_image }}" alt="RSSI Heatmap">
{% if ble_devices %}
    <table class="styled-table center">
        <thead>
            <tr>
                <th>Loop Number</th>
                <th>Device Address</th>
                <th>RSSI Value</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for ble_device in ble_devices %}
            <tr>
                <td>{{ ble_device.loop_number }}</td>
                <td>{{ ble_device.address }}</td>
                <td>{{ ble_device.rssi }}</td>
                <td>{{ble_device.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No BLE devices found.</p>
    {% endif %}

{% endblock %}
